<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./_elements/head %>
</head>
<body>
    <div id="wrapper">
        <% include ./_elements/navbar %>
        <div id="page-wrapper">
            <% include ./_elements/page-header %>
            <%- body %>
        </div>
    </div>
    <% include ./_elements/scripts %>
</body>
</html>