<div class="row">
    <div class="col-lg-6">
        <% if(errors) { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach((error)=> { %>
                        <li><%= error.msg %></li>
                    <% }) %>
                </ul>
            </div>
        <% } %>
    </div>
</div>