<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
              
            <li>
                <a href="<%= configsSystem.PREFIX_ADMIN %>">
                    <i class="fa fa-dashboard fa-fw"></i> Dashboard
                </a>
            </li>


            <li>
                <a href="<%= configsSystem.PREFIX_ADMIN %>/category">
                    <i class="fa fa-dashboard fa-fw"></i> Category
                </a>
            </li>


            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Users Mangement
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= configsSystem.PREFIX_ADMIN %>/group">Group</a>
                    </li>
                    <li>
                        <a href="">User</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>